@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: clash-Display;
	src: url("./assets/Fonts/TTF/ClashDisplay-Variable.ttf");
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/Fonts/TTF/Satoshi-Variable.ttf");
}

body {
	scroll-behavior: smooth;
}

.center {
	@apply flex justify-center items-center;
}

.section-name{
	@apply font-main font-semibold text-[40px] md:text-[60px] mb-20 
}

nav ul li {
	@apply cursor-pointer;
}

.dot-bg{
 @apply	bg-[radial-gradient(circle,#80808040_1px,transparent_1px)] bg-[size:14px_14px]
}

/** Skills Section  */
.skill {
	@apply py-10 px-10 font-main text-xl md:text-2xl flex justify-center items-center lg:text-2xl font-semibold border-2 border-black bg-center bg-no-repeat bg-contain overflow-hidden cursor-pointer transition-all duration-300;
  }
  
  .skill span {
	@apply transition-transform duration-300 ease-in-out;
  }
  
  /* Ensure smooth rollback effect */
  .skill:hover span {
	@apply scale-110;
  }
  
  

.html {
	background: orangered;
}

.css {
	background: rgb(64, 190, 248);
}

.js {
	background: yellow;
}

.react {
	background-color: black;

	color: rgb(255, 255, 255);
}

.tcss {
	background-color: black;

	color: beige;
}

.redux {
	background-color: rgb(114, 114, 254);
	color: beige;
}
.node {
	background-color: yellowgreen;
}
.express {
	background-color: rgb(255, 255, 119);
}
.sql {
	background-color: blanchedalmond;
}
.psql {
	background-color: rgb(127, 170, 255);
}

/* Skill section End  */

/*Feats Section */
/* Custom Swiper Pagination Styles */
.swiper-pagination {
	position: static; /* Move pagination below the cards */
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 25px;
}

.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
	background-color: #fff; /* Default color */
	opacity: 0.5;
	margin: 0 6px;
	transition: all 0.3s ease;
	
}

.swiper-pagination-bullet-active {
	background-color: #170602; /* Active dot color */
	opacity: 1;
	transform: scale(1.5); /* Slightly larger active dot */
	border: 1px #170602 solid;
	
}