@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: clash-Display;
	src: url("./assets/Fonts/TTF/ClashDisplay-Variable.ttf");
}

@font-face {
	font-family: "Satoshi";
	src: url("./assets/Fonts/TTF/Satoshi-Variable.ttf");
}

body {
	scroll-behavior: smooth;
}

.center {
	@apply flex justify-center items-center;
}

.section-name{
	@apply font-main font-semibold text-[40px] md:text-[60px] mb-20 
}

nav ul li {
	@apply cursor-pointer;
}

/** Skills Section  */
.skill {
	@apply py-10 px-10  font-main text-xl md:text-2xl flex justify-center   items-center lg:text-2xl font-semibold  border-2 border-black   bg-center bg-no-repeat bg-contain;
}

.html {
	background: orangered;
}

.css {
	background: rgb(64, 190, 248);
}

.js {
	background: yellow;
}

.react {
	background-color: black;

	color: rgb(255, 255, 255);
}

.tcss {
	background-color: black;

	color: beige;
}

.redux {
	background-color: rgb(114, 114, 254);
	color: beige;
}
.node {
	background-color: yellowgreen;
}
.express {
	background-color: rgb(255, 255, 119);
}
.sql {
	background-color: blanchedalmond;
}
.psql {
	background-color: rgb(127, 170, 255);
}

/* Skill section End  */


.hero-sec{

		--dot-bg: #f9f9f9; /* Light background */
		--dot-color: #333;  /* Dark dots */
		--dot-size: 1px;
		--dot-space: 22px;
		
		background:
		  linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		  linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		  var(--dot-color);

	  
}